.card {
	transition-duration: 0.2s;
	width: 300px;
	padding: 15px;
	border-radius: 3px;
	border: 1px solid #eee;

	&.elevation-1 {
		box-shadow: 0 0 2px 0 #000;
	}

	&.elevation-2 {
		box-shadow: 0 0 4px 0 #666;
	}

	&.elevation-3 {
		box-shadow: 0 0 6px 0 #999;
	}

	&.elevation-4 {
		box-shadow: 0 0 8px 0 #bbb;
	}

	&.elevation-5 {
		box-shadow: 0 0 10px 0 #ccc;
	}
}
